.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:white;
    &:hover{
        background-color: #000;
    }
    h3{
        padding: .5rem;
    }
    img{
        width: 30%;
    }
    div{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    }
}
.selectedPlaylist{
    width: 100%;
    height: 35%;

}
.selectedPlaylistImage{
    width:50%
}
.songList{
    overflow: scroll;
}
